{
    "salt": {
        "url": "your.saltmaster.url",
        "port": 8000,
        "user": "saltgopher",
        "password": "*******",
        "eauth": "pam",
        "SSLSkipVerify": false
    },
    "slack": {
        "token": "xoxb-000000000-000000000-AAaaaa000aaa00AAA000"
    }
}